@keyframes blink{
    0% {
      opacity: .5;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .5;
    }
}
.footerStyle{
  z-index: 9999;
}
.disconnectStyle {
  color: #fff !important;
  background:#e74d4d !important;
  
  margin-top: 3px !important;
  margin-left:31px !important;
  font-size:14px;

}
.disconnectStyle:hover {
  background:#da0000 !important;


}