@keyframes blink{
  0% {
    opacity: .5;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
.footerStyle{
z-index: 9999;
}
.disconnectStyle {
color: #fff !important;
background:#e74d4d !important;
margin-top: 3px !important;
margin-left:31px !important;
font-size:14px;
font-family: Poppins,sans-serif;


}
.disconnectStyle:hover {
background:#da0000 !important;
font-family: poppins, sans-serif;



}
.location-style{
color: #efb77c;
text-transform: none;
font-size: 14px;
margin-bottom: 0;
/* text-align: left;
margin-left: 19px; */
display: -webkit-box;
-webkit-line-clamp: 1;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
overflow: hidden;
}

.location-icon{

margin-top: 5px;
}

.moniker_value{
  padding: 7px;
  word-break: break-all;
  text-align: center !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
  overflow: hidden;
  height: inherit;

  }
  .dpn_value{
    font-size: 14px !important;
  }
  .dpn_label{
    font-size: 15px !important;
  }