body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  width: 1000px;
  height:672px;
  overflow:hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #D0D0D0;
  border-radius: 10px;
}

.map-selected {
  fill: #E3DA37;
}
 
.map-unselected {
  fill: #699EAA;
}
 
.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
}