<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sentinelgroup.io.sentinel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SentinelApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RestoreKeystoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VerifyPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ForgotPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ResetPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReceiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VpnDetailsActivity"
            android:screenOrientation="portrait" />

        <!-- Declaring components in ics-openVPN -->
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="de.blinkt.openvpn.api.ExternalOpenVPNService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService" />
            </intent-filter>
        </service>

        <activity
            android:name="de.blinkt.openvpn.LaunchVPN"
            android:excludeFromRecents="true"
            android:label="@string/vpn_launch_title"
            android:theme="@android:style/Theme.DeviceDefault.Light.Panel"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.VpnHistoryActivity"></activity>
    </application>

</manifest>