
.iconStyle{
    padding-right: 20px;
    
}
.iconStyle svg {
    vertical-align: top !important;
}
.headingStyle{
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: inherit
   
}
.social_icons{
    display: flex;
    flex-direction: column;
    bottom: 70px;
    padding-left: 15px;
    position: absolute;
}
.social_image{
    padding-bottom: 10px;
    width: 30px;
}
/* .social_image_tele:hover {
background-image: url("../Images/tele_color.svg");
padding-bottom: 10px;
width: 30px;
background: no-repeat;
}
.social_image_twitter:hover {
    background-image: url("../Images/twitter_color.svg");
    padding-bottom: 10px;
    width: 30px;
    background: no-repeat;
    }
.social_image_medium:hover {
        background-image: url("../Images/medium_color.svg");
        padding-bottom: 10px;
        width: 30px;
        background: no-repeat;
 } */
 /* .social_tele{
     height: 30px;
     width: 30px;
     background: url("../Images/social_sprite_new.png");
    background-position: 0px 0px;
 }
 .social_tele:hover{
    background: url("../Images/social_sprite.png");
    background-position: 0px 0px;
} */
#social {
    width: 100%;
    margin: 0!important;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    position: absolute;
    bottom: 70px;
}
#social li {
    float: left;
    border-bottom: none!important;
    list-style-type: none!important;
    margin-bottom: 10px;
}
#social #fb {
    background-position: -170px -98px;
}
#social li a {
    float: left;
    height: 26px;
    overflow: hidden;
    text-indent: -9999px;
    width: 26px;
    background: url("../Images/social_sprite.png");
}

#social #md {
    background-position: 25px 0;
}
#social #md:hover {
    background-position:2px 0;
}
#social #tl {
    background-position: 25px 60px;
}
#social #tl:hover {
    background-position:1px 60px;
}
#social #tw {
    background-position: 25px 92px;
}
#social #tw:hover {
    background-position:1px 92px;
}
#social #snt {
    background-position: 25px 26px;
}
#social #snt:hover {
    background-position:1px 26px;
}